// Bootstrap brand color customization


/*     brand Colors              */

$brand-primary:              #1C2E57 !default;
$brand-info:                 $cyan-500 !default;
$brand-success:              rgb(70, 160, 55) !default;
$brand-warning:              $orange-500 !default;
$brand-danger:               #E7530D !default;
$brand-rose:                 $pink-500 !default;
$brand-inverse:              $black-color !default;
