<div class="row">
  <div class="col-md-4">
    <button
      mat-raised-button
      class="btn btn-success"
      matTooltip="Adicionar Contacto"
      [matTooltipPosition]="'above'"
      (click)="opcionesContacto()"
    >
      <i class="material-icons">playlist_add</i>
    </button>
  </div>
</div>

<div class="col-md-12">
  <div class="card">
    <div class="card-content">
      <div class="content table-responsive">
        <mat-table #table [dataSource]="dataSource">
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
          </ng-container>

          <!-- Nombre Column -->
          <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.nombre }}
            </mat-cell>
          </ng-container>

          <!-- Telefono PBX Column -->
          <ng-container matColumnDef="telefono_primario">
            <mat-header-cell *matHeaderCellDef> Tel. Primario </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.telefono_primario }}
            </mat-cell>
          </ng-container>

          <!-- Telefono Asistencia Column -->
          <ng-container matColumnDef="celular">
            <mat-header-cell *matHeaderCellDef> Celular </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.celular }}
            </mat-cell>
          </ng-container>

          <!-- Codigo STR Column -->
          <ng-container matColumnDef="nombre_relacion">
            <mat-header-cell *matHeaderCellDef> Relación </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.nombre_relacion }}
            </mat-cell>
          </ng-container>

          <!-- Botones de Editar -->
          <ng-container matColumnDef="editar">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let pro">
              <!-- Editar button -->
              <button
                mat-button
                color="warn"
                class="pull-right"
                (click)="editarContacto(pro.id)"
              >
                <i class="material-icons">mode_edit</i>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
        <mat-paginator
          [length]="100"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 25, 100]"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
