<div class="wrapper wrapper-full-page">
	<nav class="navbar navbar-primary navbar-transparent navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#menu">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/level3">SIGA - Marlon Rodriguez</a>
			</div>
			<div class="collapse navbar-collapse" id="menu">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/level3"> <i class="material-icons">dashboard</i>
							Inicio
					</a></li>
					<li class=""><a href="/pages/register"> <i
							class="material-icons">person_add</i> Register
					</a></li>
					<li class=" active "><a href="/pages/login"> <i
							class="material-icons">fingerprint</i> Login
					</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="full-page lock-page" filter-color="black"
		data-image="../../../assets/img/lock.jpeg">
		<div class="content">
            <div class="main-content">
            	<div class="container-fluid">
            		<div class="row">
            			<div class="col-lg-3 col-md-4">
            				<div class="card">
            					<div class="card-image">
            						<a href="#pablo"> <img class="img"
            							src="../assets/img/card-2.jpeg">
            						</a>
            					</div>
            					<div class="card-content">
            						<h4 class="card-title">
            							<a href="#pablo">Cozy 5 Stars Apartment</a>
            						</h4>
            						<div class="card-description">The place is close to
            							Barceloneta Beach and bus stop just 2 min by walk and...</div>
            					</div>
            					<div class="card-footer">
            						<div class="stats pull-right">
            							<p class="category">
            								<i class="material-icons">access_time</i> 15/06/2017
            							</p>
            						</div>
            					</div>
            				</div>
            			</div>
            			<div class="col-lg-3 col-md-4">
            				<div class="card ">
            					<div class="card-image">
            						<a href="#pablo"> <img class="img"
            							src="../assets/img/card-3.jpeg">
            						</a>
            					</div>
            					<div class="card-content">
            						<h4 class="card-title">
            							<a href="#pablo">Office Studio</a>
            						</h4>
            						<div class="card-description">The place is close to Metro
            							Station and bus stop just 2 min by walk and near...</div>
            					</div>
            					<div class="card-footer">
            						<div class="stats pull-right">
            							<p class="category">
            								<i class="material-icons">access_time</i> 15/06/2017
            							</p>
            						</div>
            					</div>
            				</div>
            			</div>
            			<div class="col-lg-3 col-md-4">
            				<div class="card ">
            					<div class="card-image">
            						<a href="#pablo"> <img class="img"
            							src="../assets/img/card-1.jpeg">
            						</a>
            					</div>
            					<div class="card-content">
            						<h4 class="card-title">
            							<a href="#pablo">Beautiful Castle</a>
            						</h4>
            						<div class="card-description">The place is close to Metro
            							Station and bus stop just 2 min by walk and near...</div>
            					</div>
            					<div class="card-footer">
            						<div class="stats pull-right">
            							<p class="category">
            								<i class="material-icons">access_time</i> 15/06/2017
            							</p>
            						</div>
            					</div>
            				</div>
            			</div>
            			<div class="col-lg-3 col-md-4">
            				<div class="card">
            					<div class="card-image">
            						<a href="#pablo"> <img class="img"
            							src="../assets/img/card-1.jpeg">
            						</a>
            					</div>
            					<div class="card-content">
            						<h4 class="card-title">
            							<a href="#pablo">Beautiful Castle</a>
            						</h4>
            						<div class="card-description">The place is close to Metro
            							Station and bus stop just 2 min by walk and near...</div>
            					</div>
            					<div class="card-footer">
            						<div class="stats pull-right">
            							<p class="category">
            								<i class="material-icons">access_time</i> 15/06/2017
            							</p>
            						</div>
            					</div>
            				</div>
            			</div>
            		</div>
            		<div class="row">
            			<div class="pull-right">
            				<button class="btn btn-info btn-round">
            					mas noticias <i class="material-icons">keyboard_arrow_right</i>
            				</button>
            			</div>
            		</div>
            		<div class="row"></div>
            		<div class="row">
            			<div class="col-md-2">
            				<div class="card card-stats">
            					<div class="card-header" data-background-color="orange">
            						<i class="material-icons">wb_sunny</i>
            					</div>
            					<div class="card-content">
            						<p class="category">Soleado</p>
            						<h3 class="card-title">32°</h3>
            					</div>
            					<div class="card-footer">
            						<div class="stats">algo aca referente al clima</div>
            					</div>
            				</div>
            			</div>
            			<div class="col-md-4">
            				<div class="card card-stats">
            					<div class="card-header" data-background-color="blue">
            						<i class="fa fa-eyedropper"></i>
            					</div>
            					<div class="card-content">
            						<p class="category">Fertilidad</p>
            						<h3 class="card-title">Tu vs Finca premiun</h3>
            					</div>
            				
            				</div>
            			</div>
            			<div class="col-md-4">
            				<div class="card card-stats">
            					<div class="card-header" data-background-color="blue">
            						<i class="material-icons">wb_sunny</i>
            					</div>
            					<div class="card-content">
            						<p class="category">Fertilidad</p>
            						<h3 class="card-title">Tu vs Finca premiun</h3>
            					</div>
            					<div class="card-footer">
            						<br>

            					</div>
            				</div>
            			</div>
            		</div>
            		<div class="row"></div>
            	</div>
            </div>
		</div>

		<footer class="footer">
			<div class="container">
				<nav class="pull-left">
					<p>
						Grupo de investigación fitotecnia tropical<br>
						&copy; Universidad Nacional de Colombia
					</p>
				</nav>
				<p class="copyright pull-right">
					2017 MDR
				</p>
			</div>
		</footer>
	</div>
</div>
