/* You can add global styles to this file, and also import other style files */
.mat-column-5 {
    flex: 0 0 5%;
}
.mat-column-10 {
    flex: 0 0 10%;
}
.mat-column-15 {
    flex: 0 0 15%;
}
.mat-column-20 {
    flex: 0 0 20%;
}
.mat-column-25 {
    flex: 0 0 25%;
}
.mat-column-30 {
    flex: 0 0 30%;
}
.mat-column-33 {
    flex: 0 0 33%;
}
.mat-column-40 {
    flex: 0 0 40%;
}
.mat-column-50 {
    flex: 0 0 50%;
}
.mat-column-100 {
    flex: 0 0 100%;
}


